.logo-text {
  color: $logo-color;
  font-family: Ethnocentric;
}

.bold {
  font-weight: bold;
}

h2 {
  background: $theme-text-background-title;
  color: $theme-text-title;
  margin: 0;
  text-shadow: 0 0 3px $shadow-grey;
  @include text-resize($fontsize-title);
}

th {
  color: $theme-text-background-title;
}
